@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    list-style: none;
    font-family: "Gill sans mt";
    box-sizing: border-box;
}

.body {
    background: #18529D;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
}

header img {
    max-height: 55px;
    margin-left: 10px;
    /* Ajustamos el margen izquierdo de la imagen */
}

h2 {
    margin: 0;
    font-size: 28px;
    color: #000;
    text-align: center;
    /* Centramos el texto */
    flex: 1;
    /* Permite que el título ocupe el espacio restante */
}



.titulo {
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: #28AD56;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.formulario label {
    /* position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0; */
    font-size: 25px;
    color: #FFFFFF;
    pointer-events: none;
    transition: .5s;
}

.formulario input {
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    background: transparent;
}

.inicio {
    text-decoration: none;
    background: #18529D;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    font-size: 25px;
    border: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.inicio:hover {
    background-color: #005bb5;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

::placeholder {
    color: #DED8D8;
}

h2 {
    text-align: center;
    font-size: 35px;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}

footer {
    width: 100%;
    background-color: #0073e6;
    padding: 20px 10%;
    /* Reducimos el padding a 10% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.footer-left {
    font-size: 16px;
    color: white;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right .icon {
    margin-left: 10px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-right .icon:hover {
    color: #005bb5;
}