header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.login-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10%; /* Añadir margen inferior para separar del footer */
    box-sizing: border-box;
}

.formulario .user-box {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inicio {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inicio:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #0056b3;
    flex-wrap: wrap;
    text-align: center;
}

.footer-left div {
    color: white;
    font-size: 1.2em;
}

.footer-right {
    text-align: right;
}

.footer-right a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.footer-right a .icon {
    font-size: 24px;
    transition: all 0.3s ease;
}

.footer-right a .icon:hover {
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
    .login-container {
        padding: 15px;
        max-width: 90%;
    }

    .inicio {
        font-size: 14px;
        padding: 8px;
    }
    
    .footer-left div, .footer-right {
        font-size: 1em;
        text-align: center;
    }
    
    .footer-right {
        text-align: center;
    }

    .footer-right a .icon {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 10px;
        max-width: 100%;
    }

    .inicio {
        font-size: 12px;
        padding: 6px;
    }

    .footer-left div, .footer-right {
        font-size: 0.9em;
        text-align: center;
    }

    .footer-right a .icon {
        font-size: 18px;
    }
}
