<div class="form-group">
  <form (ngSubmit)="submitForm()">
    <label for="nombreEquipo">Nombre del equipo:</label>
    <input type="text" id="nombreEquipo" name="nombreEquipo" [(ngModel)]="equipo.nombreEquipo" class="form-control"
      required>
    <div class="form-group">
      <label for="nombreCapitan">Nombre del capitán:</label>
      <input type="text" id="nombreCapitan" name="nombreCapitan" [(ngModel)]="equipo.capitanEquipo" class="form-control"
        required>
      <input type="text" id="matricula1" name="matricula1" placeholder="Matrícula" [(ngModel)]="equipo.matricula1"
        class="form-control" required>
    </div>
    <!-- Jugadores y Matrículas -->
    <div formArrayName="jugadores">
      <div *ngFor="let jugador of jugadores.controls; let i = index" [formGroupName]="i" class="form-group">
        <label for="jugador{{i}}">Jugador {{i + 1}}:</label>
        <div class="input-group">
          <input type="text" id="jugador{{i}}" formControlName="nombre">
          <input type="text" id="matriculaJugador{{i}}" formControlName="matricula" placeholder="Matrícula">
        </div>
      </div>
    </div>
    <!-- Selectores de deporte y torneo -->
    <div class="form-group">
      <label for="deporte">Deporte:</label>
      <select id="deporte" formControlName="deporte">
        <option value="futbol">Fútbol</option>
        <option value="baloncesto">Baloncesto</option>
        <option value="volleyball">Volleyball</option>
      </select>
      <label for="torneo" style="margin-left: 20px;">Torneo:</label>
      <select id="torneo" formControlName="torneo">
        <option value="torneo1">Torneo 1</option>
        <option value="torneo2">Torneo 2</option>
        <option value="torneo3">Torneo 3</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>