<body>
    <div class="main-container">
        <button id="agregar" class="add-button" (click)="agregarTorneo()">Agregar Nuevo Torneo</button>
        <div class="card" *ngFor="let torneo of torneos">
            <div class="header">
                <h2>{{ torneo.Torneo }}</h2>
                <div class="buttons">
                    <button (click)="editTorneo(torneo.idTorneo)">Editar</button>
                    <button (click)="confirm(torneo.idTorneo)">Eliminar</button>
                </div>
            </div>
            <div class="content">
                <img src="../../../assets/copa.jpg" alt="Imagen del Torneo" class="tournament-image">
                <p>Deporte: {{ torneo.Deporte }}</p>
                <p>Fecha de Inicio: {{ torneo.Inicio }}</p>
                <div class="statuses">
                    <div class="status" [ngClass]="{
                        'en-curso': torneo.estatus === 'En curso', 
                        'finalizado': torneo.estatus === 'Finalizado', 
                        'pendiente': torneo.estatus === 'Pendiente'
                    }">
                        {{ torneo.estatus }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
