<body>
    <div class="card">
        <h2>Fierro Copa</h2>
        <div class="content">
            <img src="../../../assets/copa.jpg" alt="Imagen del Torneo" class="tournament-image">
            <div class="statuses">
                <div class="status en-curso">En curso</div>
            </div>
        </div>

        <h2>Copa FEI</h2>
        <div class="content">
            <img src="../../../assets/copa.jpg" alt="Imagen del Torneo" class="tournament-image">
            <div class="statuses">
                <div class="status finalizado">Finalizado</div>
            </div>
        </div>

        <h2>Torneo interno</h2>
        <div class="content">
            <img src="../../../assets/copa.jpg" alt="Imagen del Torneo" class="tournament-image">
            <div class="statuses">
                <div class="status cancelado">Pendiente</div>
            </div>
        </div>
    </div>
</body>