<body>
    <div *ngFor="let equipo of equipos" class="card">
        <div class="header">
            <h2>{{ equipo.nombreEquipo }}</h2>
            <div class="icons">
                <a [routerLink]="['/editar-equipo', equipo.idEquipo]">
                    <span class="icon">✎</span>
                </a>
                <span class="icon" (click)="eliminarEquipo(equipo.idEquipo)">🗑</span>
            </div>
        </div>
        <div class="content">
            <div class="column">
                <div class="label">Capitán:</div>
                <div class="ellipse">{{ equipo.capitanEquipo }}</div>
            </div>
            <div class="column">
                <div class="label">Integrantes:</div>
                <div class="ellipse">{{ equipo.jugador1 }}</div>
                <div class="ellipse">{{ equipo.jugador2 }}</div>
                <div class="ellipse">{{ equipo.jugador3 }}</div>
                <div class="ellipse">{{ equipo.jugador4 }}</div>
                <div class="ellipse">{{ equipo.jugador5 }}</div>
                <div class="ellipse">{{ equipo.jugador6 }}</div>
                <div class="ellipse">{{ equipo.jugador7 }}</div>
                <div class="ellipse">{{ equipo.jugador8 }}</div>
                <div class="ellipse">{{ equipo.jugador9 }}</div>
            </div>
            <div class="column">
                <div class="label">Suplentes:</div>
                <div class="ellipse">{{ equipo.matricula1 }}</div>
                <div class="ellipse">{{ equipo.matricula2 }}</div>
                <div class="ellipse">{{ equipo.matricula3 }}</div>
                <div class="ellipse">{{ equipo.matricula4 }}</div>
            </div>
        </div>
    </div>
</body>
