<header>
    <div class="menu">
      <a (click)="irEquipos()">Equipos</a>
      <a (click)="irPartidos()">Partidos</a>
      <a (click)="irTorneos()">Torneos</a>
    </div>
    <div class="icon-buttons">
      <div class="icon-button" (click)="irPaginaAnterior()">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="icon-button" (click)="confirmar()">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </header>
<body>
    <div class="title"><h2>Editar Partido</h2></div>
    <form (ngSubmit)="submitForm()">
        <div class="row">
            <div class="form-group">
                <label for="ideEuipo1">Equipo 1:</label>
                <select id="idEquipo1" name="idEquipo1" [(ngModel)]="partido.idEquipo1" class="form-control" required>
                    <option *ngFor="let equipo of equipos" [value]="equipo.idEquipo">{{ equipo.nombreEquipo }}</option>
                </select>
            </div>
            <div class="vs">vs</div>
            <div class="form-group">
                <label for="idEquipo2">Equipo 2:</label>
                <select id="idEquipo2" name="idEquipo2" [(ngModel)]="partido.idEquipo2" class="form-control" required>
                    <option *ngFor="let equipo of equipos" [value]="equipo.idEquipo">{{ equipo.nombreEquipo }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="fechaPartido">Fecha del Partido:</label>
                <input type="date" id="fechaPartido" name="fechaPartido" [(ngModel)]="partido.fechaPartido"
                    class="form-control" [min]="minDate" required>
            </div>
            <div class="form-group">
                <label for="estatus">Estatus:</label>
                <select id="estatus" name="estatus" [(ngModel)]="partido.estatus" class="form-control" required>
                    <option *ngFor="let estatus of estatus" [value]="estatus">{{ estatus }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="idTorneo">Torneo:</label>
                <select id="idTorneo" name="idTorneo" [(ngModel)]="partido.idTorneo" class="form-control" required>
                    <option *ngFor="let torneo of torneos" [value]="torneo.idTorneo">{{torneo.Torneo}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</body>
