<header>
  <div class="menu">
    <a (click)="irEquipos()">Equipos</a>
    <a (click)="irPartidos()">Partidos</a>
    <a (click)="irTorneos()">Torneos</a>
  </div>
  <div class="icon-buttons">
    <div class="icon-button" (click)="irPaginaAnterior()">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="icon-button" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>
</header>

<body>
  <div class="partidos">
    <h2>Cuartos de Final</h2>
    <div class="teams">
      <div *ngFor="let partido of partidos" class="team">
        <div class="icons">
          <a href="/agregar-partido">
            <i class="fas fa-plus-circle"></i>
          </a>
          <i class="fas fa-edit"></i>
          <span class="icon" (click)="eliminarPartido(partido.idPartido)">🗑</span>
        </div>
        <div class="team-name">
          <div class="ellipse">{{ partido.Equipo1 }}</div>
          <div class="vs">vs</div>
          <div class="ellipse">{{ partido.Equipo2 }}</div>
        </div>
      </div>
    </div>
  </div>

</body>