<body>
    <form (ngSubmit)="submitForm()">
        <div class="title">Agregar Partido</div>
        <div class="row">
            <div class="form-group">
                <label for="equipo1">Equipo 1:</label>
                <select id="equipo1" name="equipo1">
                    <option value="equipo1a">Equipo 1A</option>
                    <option value="equipo1b">Equipo 1B</option>
                    <!-- Agrega más opciones según tus necesidades -->
                </select>
            </div>
            <div class="vs">vs</div>
            <div class="form-group">
                <label for="equipo2">Equipo 2:</label>
                <select id="equipo2" name="equipo2">
                    <option value="equipo2a">Equipo 2A</option>
                    <option value="equipo2b">Equipo 2B</option>
                    <!-- Agrega más opciones según tus necesidades -->
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="fechaPartido">Fecha del Partido:</label>
                <input type="date" id="fechaPartido" name="fechaPartido">
            </div>
            <div class="form-group">
                <label for="estatus">Estatus:</label>
                <select id="estatus" name="estatus" [(ngModel)]="partido.estatus" class="form-control" required>
                    <option value="Pendiente">Pendiente</option>
                    <option value="En curso">En curso</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="torneo">Torneo:</label>
                <select id="torneo" name="torneo">
                    <option value="torneo1">Torneo 1</option>
                    <option value="torneo2">Torneo 2</option>
                    <option value="torneo3">Torneo 3</option>
                    <!-- Agrega más opciones según tus necesidades -->
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>